@charset "UTF-8";

.row {
    position: relative;
    width: 1090px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* 用到component图片的类 */
.cmp,
.site-nav .download-app::before,
.site-nav .service::after {
    background: url("../images/component.png");
}