@charset "UTF-8";

body {
    background-color: #ffffff;
    font-size: 12px;
}

/* 网站导航 */
.site-nav {
    height: 36px;
    line-height: 36px;
    background-color: #333333;
    color: #ffffff;
}

.site-nav a {
    color: #cccccc;
    font-size: 12px;
}

.site-nav a:hover {
    color: #ffffff;
}

.site-nav .slogan {
    float: left;
    margin-right: 30px;
}

.site-nav .notice-list {
    float: left;
    background: url("../images/notice-icon.gif") no-repeat left center;
    height: 36px;
    padding-left: 26px;
    overflow: hidden;
}

.site-nav .notice-list ul {
    position: relative;
    top: 0;
}

.site-nav .notice-list li {
    height: 36px;
}

.site-nav .notice-list a {
    vertical-align: top;
    text-decoration: underline;
    color: #b4a078;
}

.site-nav .notice-list a:hover {
    color: #ffffff;
}

.site-nav .item {
    float: left;
}

.site-nav .login {
    margin-right: 20px;
}

.site-nav .divider {
    width: 1px;
    height: 16px;
    background-color: #5c5c5c;
    margin: 10px 10px 0;
    float: left;
}

.site-nav .download-app::before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 7px;
    margin-right: 6px;   
    background-position: 0 0;
    vertical-align: middle;
}

.site-nav .service::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 11px;
    margin-left: 10px;
    background-position: 0 -321px;
    vertical-align: middle;
}

.site-nav .service:hover::after {
    transform: rotate(180deg);
}

/* 功能导航 */
.func-nav {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.func-nav .row {
    height: 204px;
}

.func-nav .logo {

    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60px;
    width: 180px;
    background-position: 0 -146px;
    
}

.func-nav .logo a {
    display: block;
    height: 60px;
    font-size: 0;
} 

.func-nav .buy-car {
    position: absolute;
    right: 9px;
    top: 65px;
    width: 34px;
    height: 32px;
}

.func-nav .buy-car .car {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 23px;
    width: 23px;
    background-position: 0 -113px;
}

.func-nav .buy-car:hover .car {
    background-position: 0 -80px;
}

.func-nav .buy-car .count {
    position: absolute;
    right: 0;
    top: 0;
    height: 19px;
    width: 19px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background-position: 0 -51px;
  
}

.func-nav .search {
    position: absolute;
    top: 75px;
    right: 70px;
}

.func-nav .search input {
    border: none;
    border-bottom: 1px solid #d8cebc;
    width: 252px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #333333;
}

.func-nav .search .placeholder {
    position: absolute;
    top: 5px;
    left: 11px;
    color: #999999;
}

.func-nav .search .button {
    float: right;
    width: 20px;
    height: 20px;
    background-position: 0 -291px;
    cursor: pointer;
}

.func-nav .search .button:hover {
    background-position: 0 -261px;
}

.func-nav .tab-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.func-nav .tab-nav .item {
    float: left;

    height: 23px;
    margin: 0 24px;
    font-weight: 700;
    font-style: 14px;
}

.func-nav .tab-nav .item a {
    display: block;
    padding-bottom: 5px;
}
 
.func-nav .tab-nav .item a:hover,
.func-nav .tab-nav .item.active a {
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}

.func-nav .tab-nav .divider {
    float: left;
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider .image-list {
    position: relative;
    left: -960px;
    height: 420px;
    margin-left: 50%;
}

.slider .image-list li {
    position: absolute;
    left: 0;
    top: 0;
}


.slider .pre {
    left: 150px;
}

.slider .next {
    right: 150px;
}

.slider .page-list {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    
}

.slider .page-list li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.slider .page-list button {
    /* 设置为block，是为了不让父元素的vertical-align影响到button
        不让button的离得vertical-align混淆在一起
    */
    display: block;
    width: 12px;
    height: 12px;
    background-color: #bfbbba;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider .page-list button:hover,
.slider .page-list .active button {
    box-shadow: 0 0 0 4px #dfcead;
    border: 2px solid #b4a078;
    background-color: transparent;
}

/* 品牌制造商 */
.brand {
    margin-top: 30px;
}
.brand .item {
    position: relative;
    float: left;
    text-align: center;
    color: #666;
    overflow: hidden;
}

.brand .item img {
    position: absolute;
    left: 0;
    top: 0;
}

.brand .item .name {
    font-weight: 400;
}

.brand .item .price {
    display: inline-block;
    border-top: 1px solid #666;
    font-size: 14px;
    
}

.brand .item .name,
.brand .item .price {
    position: relative;
    z-index: 1;
}

.brand .large {
    width: 357px;
    height: 320px;
    margin-right: 9px;
}

.brand .large .name {
    margin: 48px 0 19px;
    font-size: 24px;
}

.brand .large .price {
    padding-top: 17px;
}

.brand .small {
    width: 357px;
    height: 155px;
    text-align: left;
}

.brand .small .name {
    font-size: 20px;
    margin: 32px 0 10px 20px;
}

.brand .small .price {
    padding-top: 10px;
    margin-left: 20px;
}

.brand .last {
    margin-top: 10px;
}

/* 新品首发 */
.new-products {
    margin-top: 60px;
    padding-bottom: 60px;
}

.new-products .pre {
    left: -70px;
}

.new-products .next {
    right: -70px;
}

.new-products .content {
    margin-right: -10px;
}
.new-products .product {
    width: 265px;
    float: left;
    margin-right: 10px;
}

.new-products .product .image {
    position: relative;
    width: 265px;
    height: 265px;
    margin-bottom: 8px;
    display: block;
}

.new-products .product .cover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.new-products .product:hover .cover {
    display: block;
}

.new-products .product:hover {
    background-color: #f4f0ea;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
}

.new-products .product .tag {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    padding: 0 4px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    background-color: #f4f0ea;
}

.new-products .product .info {
    padding-bottom: 10px;
    text-align: center;
}

.new-products .product .attrs {
    height: 20px;
    margin-bottom: 3px;
    line-height: 20px;
    
}

.new-products .product .attr {
    display: inline-block;    
    height: 20px;
    margin: 0 3px;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    background-color: #e36844;
}

.new-products .product .attr.hot {
    background-color: #f28f2d;
}

.new-products .product .attr.special {
    color: #a94528;
    background-color: #f8bc59;
}

.new-products .product .name {
    height: 20px;
    padding: 0 10px;
    margin-bottom: 4px;
    line-height: 20px;
}

.new-products .product .price {
    font-size: 13px;
    line-height: 13px;
    
}

.new-products .product .price-value {
    color: #d4282d;
}

.new-products .product .brand-name {
    border-left: 1px solid #999;
    padding-left: 10px;
    margin-left: 7px;
    color: #999;
}

/* 人气推荐 */
.popular {
    padding: 60px 0;
    background-color: #f4f0ea;
}

.popular .rank {
    float: left;
    padding-left: 13px;
}

.popular .rank a {
    float: left;
    width: 70px;
    height: 28px;
    margin-right: 55px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.popular .rank .active {
    border-bottom: 2px solid #b4a078;
    color: #b4a078;
}