@charset "UTF-8";

body {
    background-color: #ffffff;
}

/* 网站导航 */
.site-nav {
    height: 36px;
    line-height: 36px;
    background-color: #333333;
    color: #ffffff;
}

.site-nav a {
    color: #cccccc;
    font-size: 12px;
}

.site-nav a:hover {
    color: #ffffff;
}

.site-nav .slogan {
    float: left;
    margin-right: 30px;
}

.site-nav .notice-list {
    float: left;
    background: url("../images/notice-icon.gif") no-repeat left center;
    height: 36px;
    padding-left: 26px;
    overflow: hidden;
}

.site-nav .notice-list ul {
    position: relative;
    top: 0;
}

.site-nav .notice-list li {
    height: 36px;
}

.site-nav .notice-list a {
    vertical-align: top;
    text-decoration: underline;
    color: #b4a078;
}

.site-nav .notice-list a:hover {
    color: #ffffff;
}

.site-nav .item {
    float: left;
}

.site-nav .login {
    margin-right: 20px;
}

.site-nav .divider {
    width: 1px;
    height: 16px;
    background-color: #5c5c5c;
    margin: 10px 10px 0;
    float: left;
}

.site-nav .download-app::before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 7px;
    margin-right: 6px;
    
    background: url("../images/component.png") no-repeat 0 0;
    vertical-align: middle;
}

.site-nav .service::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 11px;
    margin-left: 10px;

    background: url("../images/component.png") no-repeat 0 -321px;
    vertical-align: middle;
}

.site-nav .service:hover::after {
    transform: rotate(180deg);
}

/* 功能导航 */
.func-nav {
    height: 204px;
}

.func-nav .logo {
    height: 60px;
    width: 180px;
    background: url("../images/component.png") no-repeat 0 -146px;
    
}

.func-nav .logo a {
    display: block;
    height: 60px;
} 